.card {
  width: 700px;
  height: auto;
  border-radius: 10px;
}

.banner .card {
  width: 350px;
  height: auto;
}

.property-price {
  font-weight: bold;
  width: max-content;
}
.contact-seller-button {
  width: max-content;
}
.property-detail-right-container {
  flex: unset;
  width: max-content;
  margin-left: auto;
}
