.adjust_image {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.col-buttons {
  display: flex;
  flex-direction: row;
}

.my_profile_card .img-fluid {
  max-width: 230px;
  height: 230px;
  object-fit: cover;
}
